[alt="14Dokab"]{
    filter: drop-shadow(0 0 30px brown); 
    width: 400px;   
}

[alt="15Dokkan"]{
    filter: drop-shadow(0 0 30px green); 

}

[alt="17_Artwork"]{
    filter: drop-shadow(0 0 30px orange); 
}

[alt="Android19"]{
    filter: drop-shadow(0 0 30px yellow);
    width: 370px;
}

[alt="Androide13normal"]{
    filter: drop-shadow(0 0 30px black);
}

[alt="Androide_16"]{
    filter: drop-shadow(0 0 30px green);

}

[ alt="Androide_18_Artwork"]{
    filter: drop-shadow(0 0 30px blue);
}
[alt="dende"]{
    filter: drop-shadow(0 0 30px blue);
}

[alt="babidi"]{
    filter: drop-shadow(0 0 30px yellow);
}
