

[alt="14Dokab"]{
    filter: drop-shadow(0 0 30px brown); 
    width: 400px;  
    
}

[alt="15Dokkan"]{
    filter: drop-shadow(0 0 30px green); 

}

[alt="17_Artwork"]{
    filter: drop-shadow(0 0 30px orange); 
}

[alt="Android19"]{
    filter: drop-shadow(0 0 30px yellow);
    width: 370px;
}

[alt="Androide13normal"]{
    filter: drop-shadow(0 0 30px black);
}

[alt="Androide_16"]{
    filter: drop-shadow(0 0 30px green);

}

[ alt="Androide_18_Artwork"]{
    filter: drop-shadow(0 0 30px blue);
}
[alt="dende"]{
    filter: drop-shadow(0 0 30px blue);
}

[alt="babidi"]{
    filter: drop-shadow(0 0 30px yellow);
}

[alt="bardock"]{
    filter: drop-shadow(0 0 30px blue);
}
[alt="broly"]{
    filter: drop-shadow(0 0 30px green);

}

[alt="bulma"]{
    filter: drop-shadow(0 0 30px purple);

}
[alt="buu"]{
    filter: drop-shadow(0 0 30px pink);

}
[alt="celula"]{
    filter: drop-shadow(0 0 30px peru);

}
[alt="chichi"]{
    filter: drop-shadow(0 0 30px rgb(17, 184, 250));

}
[alt="dende"]{
    filter: drop-shadow(0 0 30px rgb(17, 184, 250));

}
[alt="dispo"]{
    filter: drop-shadow(0 0 30px rgb(242, 17, 250));

}
[alt="dodoria"]{
    filter: drop-shadow(0 0 30px rgb(68, 3, 248));

}
[alt="gero"]{
    filter: drop-shadow(0 0 30px rgb(113, 248, 3));

}
[alt="yamcha"]{
    filter: drop-shadow(0 0 30px rgb(113, 248, 3));

}
[alt="frezzer"]{
    filter: drop-shadow(0 0 30px rgb(248, 3, 3));

}
[alt="ginyu"]{
    filter: drop-shadow(0 0 30px rgb(3, 109, 248));

}
[alt="ginyu_force"]{
    filter: drop-shadow(0 0 30px rgb(3, 248, 134));

}
[alt="gohan"]{
    filter: drop-shadow(0 0 30px rgb(121, 248, 3));

}
[alt="goku"]{
    filter: drop-shadow(0 0 30px rgb(248, 3, 187));

}
[alt="goten"]{
    filter: drop-shadow(0 0 30px rgb(3, 211, 248));

}
[alt="kaio"]{
    filter: drop-shadow(0 0 30px rgb(150, 3, 248));

}
[alt="kaio2"]{
    filter: drop-shadow(0 0 30px rgb(248, 134, 3));

}
[alt="priest"]{
    filter: drop-shadow(0 0 30px rgb(248, 3, 3));

}
[alt="Jiren"]{
    filter: drop-shadow(0 0 30px rgb(232, 248, 3));

}
[alt="este"]{
    filter: drop-shadow(0 0 30px rgb(3, 7, 248));

}
[alt="oeste"]{
    filter: drop-shadow(0 0 30px rgb(248, 3, 3));

}
[alt="shineste"]{
    filter: drop-shadow(0 0 30px rgb(113, 248, 3));

}
[alt="shinnorte"]{
    filter: drop-shadow(0 0 30px rgb(248, 3, 215));

}
[alt="shineste2"]{
    filter: drop-shadow(0 0 30px rgb(77, 3, 248));

}
[alt="shinoeste2"]{
    filter: drop-shadow(0 0 30px rgb(248, 3, 3));

}
[alt="shinsur"]{
    filter: drop-shadow(0 0 30px rgb(138, 3, 248));

}
[alt="kaionorte"]{
    filter: drop-shadow(0 0 30px rgb(248, 3, 105));

}
[alt="surcomplet"]{
    filter: drop-shadow(0 0 30px rgb(248, 81, 3));

}
[alt="kibito"]{
    filter: drop-shadow(0 0 30px rgb(89, 3, 248));

}
[alt="kibitoshin"]{
    filter: drop-shadow(0 0 30px rgb(248, 3, 166));

}

[alt="krilin"]{
    filter: drop-shadow(0 0 30px rgb(113, 248, 3));

}

[alt="lunch"]{
    filter: drop-shadow(0 0 30px rgb(248, 3, 77));

}

[alt="Marcarita"]{
    filter: drop-shadow(0 0 30px rgb(248, 211, 3));

}
[alt="Mr_Satan_DBSuper"]{
    filter: drop-shadow(0 0 30px rgb(220, 3, 248));

}
[alt="nail"]{
    filter: drop-shadow(0 0 30px rgb(3, 240, 248));

}
[alt="picolo_normal"]{
    filter: drop-shadow(0 0 30px rgb(0, 0, 0));

}
[alt="raditz"]{
    filter: drop-shadow(0 0 30px rgb(245, 81, 108));

}
[alt="roshi"]{
    filter: drop-shadow(0 0 30px rgb(248, 232, 3));

}
[alt="shins"]{
    filter: drop-shadow(0 0 30px rgb(109, 3, 248));

}
[alt="Tenshinhan_Universo7"]{
    filter: drop-shadow(0 0 30px rgb(248, 72, 3));

}
[alt="Toppo"]{
    filter: drop-shadow(0 0 30px rgb(113, 248, 3));

}
[alt="trunks"]{
    filter: drop-shadow(0 0 30px rgb(138, 3, 248));

}
[alt="vegeta_normal"]{
    filter: drop-shadow(0 0 30px rgb(248, 101, 3));

}
[alt="vermound"]{
    filter: drop-shadow(0 0 30px rgb(3, 27, 248));

}
[alt="whiss"]{
    filter: drop-shadow(0 0 30px rgb(248, 3, 44));

}

[alt="zarbon"]{
    filter: drop-shadow(0 0 30px rgb(3, 248, 166));

}

[alt="zeno"]{
    filter: drop-shadow(0 0 30px rgb(89, 3, 248));

}

div img{
    width: 500px;
    height: 600px;
   
}





